# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store

# Builds / dist
build/
dist/
*.egg-info/

# Editor
.cursor/
.idea/